.widget-wrapper {
  max-width: 500px;
  margin: 0 auto;
  background: #8c5db3;
  padding: 30px 35px 60px;

  .shopping-cart-block {
    box-shadow: 0 20px 35px rgba(100,39,150,0.6);
    background-color: #ffffff;
    overflow: hidden;

    //Helpers
    .col {
      width: 50%;
      flex-shrink: 0;
    }

    //Header
    .cart-header {
      display: flex;
      align-items: center;
      height: 110px;
      padding-left: 40px;
      box-shadow: 0px -1px 21px #dfeff3;
    }
    .cart-title {
      width: 100%;
      font-size: 30px;
      letter-spacing: -1px;
      line-height: 41px;
      color: rgb(33,33,33);
      font-family: "Gotham-Book";
    }
    .cart-close {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: white;
      font-size: 34px;
      align-self: stretch;
      box-shadow: 0 13px 29px rgba(255,158,161,0.6);
      background-color: #ff7d83;
      cursor: pointer;
    }

    //Content
    .cart-content {
      padding: 40px;
      display: flex;
    }
    .left-col {
      position: relative;
    }
    .item-background {
      background: #e7f7fb;
      width: 160px;
      height: 150px;
    }
    .item-image {
      position: absolute;
      top: -18px;
      left: -56px;
      animation: scale 1s 1;
      animation-timing-function: cubic-bezier(.45,.69,1,1.74);
    }

    .right-col {
      display: flex;
      flex-direction: column;
    }
    .item-title {
      font-size: 30px;
      line-height: 40px;
      color: rgb(255,102,123);
      font-family: "CambriaMath";
    }
    .item-price {
      font-size: 24px;
      letter-spacing: 0px;
      line-height: 28px;
      color: rgb(112,66,72);
      font-family: "Gotham-Book";
    }
    .item-control {
      display: flex;
      margin-top: 25px;
    }
    .item-amount {
      width: 56px;
      align-self: stretch;
      margin-right: 14px;
      font-size: 28px;
      line-height: 28px;
      color: rgb(74,128,142);
      font-family: "Gotham-Book";
      text-align: center;
      box-shadow: 0px 13px 29px rgba(135,186,199,0.17);
      background-color: #ffffff;
      border: 1px solid rgba(193,217,222,0.52);
      outline: none;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .item-additional {
      display: flex;
      flex-direction: column;
    }
    .item-additional-text {
      font-size: 16px;
      line-height: 28px;
      color: rgb(0,0,0);
      font-family: "Gotham-Book";
      display: flex;
    }

    //Footer
    .cart-footer {
      display: flex;
      align-items: center;
      padding: 40px;
      box-shadow: 0 2px 29px 0 rgba(134, 189, 202, 0.27) inset;
    }
    .cart-checkout {
      height: 80px;
      width: 180px;
      outline: none;
      border: none;
      margin-right: 40px;
      font-size: 20px;
      line-height: 28px;
      color: rgb(255,255,255);
      font-family: "Gotham-Medium";
      box-shadow: 0 13px 29px rgba(94,216,254,0.6);
      background-image: linear-gradient(0deg, #47c7fb 0%, #49e5fb 100%);
      cursor: pointer;
    }
    .cart-total {

    }
    .total-title {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 20px;
      color: rgb(29,29,29);
      font-family: "Gotham-Book";
      margin: 0 0 3px;
      text-transform: uppercase;
    }
    .total-text {
      font-size: 36px;
      letter-spacing: 0px;
      line-height: 28px;
      color: rgb(35,103,116);
      font-family: "Gotham-Book";
      margin: 0;
    }
  }
}

.colors-wrapper {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: 10px;
  animation: rotate 5s 1;
}

@keyframes rotate {
  0%   {transform: rotate(0deg);}
  100%   {transform: rotate(360deg);}
}

@keyframes scale {
  0%   {transform: scale(0.5);}
  100%   {transform: scale(1);}
}